* {
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }

  body{
      width: 100%;
  }
   /*style header star*/
header{
    width: auto;
    margin: 30px 20px;
    display: flex;
    justify-content:space-around;
}

header a{
    width: auto;  
    text-decoration: none;
    color: rgb(36, 100, 84);
    font-size: 30px;    
}

header h4{
    width: auto;
    
    display: flex;
    font-size: 18px;
}

.information {
    background-color: white;
    border: 0px solid white;
    margin-top: 0px;
    font-size: 22px;
    
}

 /*style header end*/
  /*style main star*/
main{
    margin-top: 60px;
    display: flex;
    flex:1;
}


button {
    width: auto;
    background-color: rgb(36, 100, 84);
    padding: 10px ;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 10px;  
    text-align: center;
   
}

button:hover {background-color: rgb(60, 187, 155)}

.container {
    margin: auto;
    width: 500px;
    flex:1;
  }
.starquiz{
      margin-top: 60px;     
      flex:1;
  }
  .starquiz h2{
      text-align: center;
  }
.starquiz  p{
     font-size: 22px;
 }
.starquiz  h2{
   margin: 15px 15px;
}

.formScore{
    margin-top: 60px;    
    flex:1;
}
.formScore h1{
    font-size:26px ;
}
.formScore label,p{
  font-size:24px;
  margin:5px  
}
.formScore input{
    height: 35px;
}

 /*style main end*/

 